* {
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;

}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main, body {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 24, 24);
}

.test {
  height: 80%;
}
